<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Silk Road Rug Co`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>About Us</h2>
            <h4><i>Text Goes Here</i></h4>
        </section>

        <section class="content">
            <h2>Our Mission</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, facere animi labore numquam in natus impedit delectus voluptas obcaecati voluptates repellendus. Dicta officiis corrupti omnis maxime eum, est beatae optio?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis atque dolorum labore inventore quam velit doloribus magnam veniam reprehenderit modi, quod ex voluptate exercitationem. Possimus labore eum ipsam reiciendis obcaecati.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id omnis, corporis ex aliquid neque odit ipsa, non ipsum laudantium, dignissimos culpa quas illum architecto consequuntur placeat voluptates commodi dolor blanditiis!</p>
            <h2>Our Values</h2>
            <ul>
                <li>Compassion: We believe in treating all animals with kindness and respect.</li>
                <li>Responsibility: We are committed to providing the highest standard of care for every pet in our
                    care.
                </li>
                <li>Integrity: We operate with transparency and honesty in all of our interactions with our community.
                </li>
                <li>Collaboration: We believe that working together with our community is the key to achieving our
                    mission.
                </li>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
