/* Style the navbar */
.navbar {
    background-color: transparent;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Style the navbar links */
.navbar a {
    color: #fff;
    font-size: 50px; 
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-text {
    text-align: right;
}

/* Center the header content */
.header {
    background-image: url('/Images/home.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header h1 {
    font-size: 68px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 20px;
}

/* Featured Rugs */
h2 {
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: right;
}

.featured-rug {
    width: 300px; 
    height: 200px; 
    background-color: #fff;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg); /* This rotates the rugs to appear horizontally */
    transition: transform 0.9s; /* Adds a transition effect */
    position: relative;
}

.featured-rug img {
    max-width: 100%;
    height: auto;
}

.featured-rug:hover {
    transform: rotate(0deg); /* Rotate back to 0 degrees on hover */
}

/* Rug Card Text and Details */

/* Make the text and details button appear on hover */
.featured-rug:hover .details {
    opacity: 1;
}

.details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}

.details h3,
.details .btn {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
}

.details h3 {
    font-size: 50px;
}


