.hero {
    height: 20vh;
    min-height: 175px;
    justify-content: center;
    background-image: url('/Images/forms.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2 {
    font-size: 68px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 20px;
}

h4 {
    font-size: 25px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.7; 
}

form {
    width: 80%;
    min-width: 300px;
    margin: 0 auto 2rem auto;
    background-color: #f0f0f0;
    padding: 80px;
    border-radius: 15px; 
    max-width: 900px; 
    width: 100%; 
}

label {
    /* display: inline-block; */
    margin-bottom: 5px;
    font-weight: bold;
    display: block; 
    margin-bottom: 5px; 
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 15px; 
    border: 1px solid #ccc; 
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50px; 
    border: none;
    color: #fff;
    cursor: pointer; 
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}
