.content-container {
    padding: 150px;
}

h2 {
    text-transform: uppercase;
}

p {
    text-transform: uppercase;
}

.featured-rug {
    max-height: 30%;
    display: block;
    margin: 0 auto;
    transform: rotate(90deg); 
}

.container {
    max-width: 60%;
    margin: 0 auto;
}

.product-info {
    justify-content: center;
    text-align: center;
}

/* Buttons */
.button-row {
    display: flex;
    margin-top: 0;
    justify-content: center;
}

.button-row .btn {
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    padding: 5px 10px; 
    text-decoration: none;
}

.button-row .btn a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}
